<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="styl.css" type="text/css" media="all" />
<!--[if lte IE 6]><link rel="stylesheet" href="ie6.css" type="text/css" media="all" /><![endif]-->
<script src="js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="js/jquery.jcarousel.pack.js" type="text/javascript"></script>
<script src="js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
<!-- Shell -->
<div class="shell">
  <!-- Header -->
  <div id="header">
    </br></br>
    <!-- Cart -->
    <div id="cart"> <a href="#" class="cart-link">Votre Panier</a>
      <div class="cl">&nbsp;</div>
      <span>Articles: <strong>4</strong></span> &nbsp;&nbsp; <span>Cost: <strong>120.000</strong></span> </div>
    <!-- End Cart -->
    <!-- Navigation -->
  <!-- Footer -->
    <p class="left"><h1><a href="/">ARFANG-BUSNESS</a></h1></p>
     </br></br></br>
  <div id="footer">
    <p class="right"> <a href="/">Acceuil</a> <span>|</span> <a href="/art_cat">Forfaits</a>  <span>|</span> <a href="/Commande">Se connecter</a> </p>
    
  </div>
  <!-- End Footer -->
    <!-- End Navigation -->
  </div>
  <!-- End Header -->
  <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">

      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <li> <a href="#"><img src="images/gabon4.jpeg" alt="" /></a>
            <div class="product-info">
              <h3>TAILLE GABONAISE</h3>
              <div class="product-desc">
                <h4>Femme</h4>
                <p>Jaune Rose</p>
                <strong class="price">45.000</strong> </div>
            </div>
          </li>
          <li> <a href="#"><img src="images/gabon6.jpeg" alt="" /></a>
            <div class="product-info">
              <h3>TAILLE GABONAISE</h3>
              <div class="product-desc">
                <h4>FEMME</h4>
                <p>Blanche </p>
                <strong class="price">30.000</strong> </div>
            </div>
          </li>
          <li class="last"> <a href="#"><img src="images/gabon2.jpeg" alt="" /></a>
            <div class="product-info">
               <h3>TAILLE GABONAISE</h3>
              <div class="product-desc">
                <h4>Femme</h4>
                <p>Orange</p>
                <strong class="price">35.000</strong> </div>
            </div>
          </li>
          <li class="last"> <a href="#"><img src="images/gabon1.jpeg" alt="" /></a>
            <div class="product-info">
               <h3>TAILLE GABONAISE</h3>
              <div class="product-desc">
                <h4>Femme</h4>
                <p>Jaune</p>
                <strong class="price">45.000</strong> </div>
            </div>
          </li>
          <li class="last"> <a href="#"><img src="images/gabon3.jpeg" alt="" /></a>
            <div class="product-info">
               <h3>TAILLE GABONAISE</h3>
              <div class="product-desc">
                <h4>Femme</h4>
                <p>Orange</p>
                <strong class="price">55.000</strong> </div>
            </div>
          </li>
          <li class="last"> <a href="#"><img src="images/gabon.jpeg" alt="" /></a>
            <div class="product-info">
               <h3>TAILLE GABONAISE</h3>
              <div class="product-desc">
                <h4>Femme</h4>
                <p>Grise</p>
                <strong class="price">35.000</strong> </div>
            </div>
          </li>
          
        </ul>
        <div class="cl">&nbsp;</div>
      </div>
      <!-- End Products -->
    </div>
    <!-- End Content -->
   
    
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>
  </div>
  <!-- End Main -->
  <!-- Side Full -->
  <div class="side-full">
    <!-- More Products -->
    <div class="more-products">
      <div class="more-products-holder">
        <ul>
          <li><a href="#"><img src="images/basin1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/basin2.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/choi1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/choi2.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/bro1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/bro2.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/voil1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/voil2.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/diez1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/djez2.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/couple4.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/couple5.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/taille3.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/taille2.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/gabon1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/gabon2.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/robe3.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/robe4.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/soir1.jpeg" alt="" /></a></li>
          <li><a href="#"><img src="images/soir2.jpeg" alt="" /></a></li>
          <li class="last"><a href="#"><img src="images/homme1.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
    </div>
    <!-- End More Products -->
    <!-- Text Cols -->
    <div class="cols">
      <div class="cl">&nbsp;</div>
      <div class="col">
        <h3 class="ico ico1">Offres</h3>
        <p>Forfaits
Options de visibilité
Publicité display
Grille tarifaire.</p>
        <p class="more"><a href="#" class="bul">Offre</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico2">A propos</h3>
        <p>
Qui sommes nous ?
FAQ - Aide
Conditions et Charte d'utilisation
Conseil de sécurité
Blog.</p>
        <p class="more"><a href="#" class="bul">A propos</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico3">Nous contacter</h3>
        <p> Ouakam Gouye Sor villa 9343
VDN Dakar BP: 49 940
 +221 77 703 41 86
 sowarfang98@gmail.com

 www.arfang.sn.</p>
        <p class="more"><a href="/formulaire.html" class="bul">Contact</a></p>
      </div>
      
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Text Cols -->
  </div>
  <!-- End Side Full -->
  <!-- Footer -->
  <div id="footer">
    <p class="left"> <a href="/">Acceuil</a> <span>|</span> <a href="#">Categorie</a>  <span>|</span> <a href="/Commande">Contact</a> </p>
    
  </div>
  <!-- End Footer -->
</div>
</body>
</html>  
